*{
    margin: 0%;
    padding: 0%;
}

.header-inbox-container > div {
        display: flex;
        width: 100%;
}

.left-inbox-menu {
    display: flex;
    cursor: pointer;
    justify-content:space-between;

}


